@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #f6f0f0;
  font-family: "Source Sans Pro", sans-serif;
  color: #0567a8;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: #0567a8;
}

a:hover {
  color: #199fb1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #1ba0f8;
}

/* Layout */
.splash {
  position: relative;
  height: 200px;
  background-image: url("../images/splash.jpg");
  background-position: center center;
  background-size: cover;
  text-align: left;
  font-family: "Oswald", sans-serif;
  color: #f6f0f0;
}

/* Logo */
.logo {
  margin: 0;
  padding: 45px 0 0 20px;
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
}

.logo a {
  color: #f6f0f0;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo a:hover {
  color: #199fb1;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.sidebar {
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
  background: #808c97;
}

.posts {
  -ms-flex: 2 0 0px;
      flex: 2 0 0;
}

.sidebar, .posts {
  position: relative;
  overflow: hidden;
  min-height: 800px;
  margin-right: 10px;
  padding: 40px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sidebar-left {
  color: #f6f0f0;
  margin-left: -10px;
}

.sidebar-left a {
  color: #f6f0f0;
}

.sidebar-left a:hover {
  color: #0567a8;
}

.sidebar-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-right: 0;
  background: #f6f0f0;
}

/* About */
.sidebar-about {
  -ms-flex-order: -1;
      order: -1;
}

.about {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
}

.about-img {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.about-img img {
  position: relative;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-img img:hover {
  transform: scale(1.2);
}

.social-icons {
  -ms-flex-pack: center;
      justify-content: center;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
}

.social-icons li {
  position: relative;
  padding: 0 10px;
  font-size: 0px;
  text-align: center;
  text-decoration: none;
}

.social-icons a {
  display: block;
  transition: all 0.5s;
  margin: 10px 1px;
  border-radius: 50%;
  background: #0567a8;
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #f6f0f0;
}

.social-icons a:hover {
  transform: scale(1.5);
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list .active {
  font-weight: bold;
}

.list-horizontal li {
  display: inline-block;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}

/* Post */
.post {
  position: absolute;
  top: 40px;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.post.active {
  opacity: 100;
  z-index: 1;
  position: static;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: -ms-flexbox;
  display: flex;
}

.post-tags p {
  margin: 0 10px 0 0;
}

/* Media */
@media (max-width: 767px) {
  .wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0;
  }
  .sidebar-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    min-height: 300px;
  }
  .sidebar-left ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .sidebar-left ul li {
    padding: 20px;
  }
  .sidebar-right {
    top: -150px;
    min-height: 1000px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .sidebar {
    margin: 0;
  }
  .sidebar-tags {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 100%;
        flex: 100%;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .sidebar-tags ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
  }
  .sidebar-tags ul li {
    padding: 10px;
  }
  .sidebar-authors {
    -ms-flex: 100%;
        flex: 100%;
  }
  .sidebar-about {
    -ms-flex: 100%;
        flex: 100%;
    -ms-flex-order: 3;
        order: 3;
  }
}
/*# sourceMappingURL=style.css.map */