@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #f6f0f0;
$color-medium: #199fb1;
$color-dark: #0567a8;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$transition: all 0.5s;
/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: $color-dark;

  &:hover {
    color: $color-medium;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.splash {
  position: relative;
  height: 200px;
  background-image: url("../images/splash.jpg");
  background-position: center center;
  background-size: cover;
  text-align: left;
  font-family: $font-header;
  color: $color-light;
}

/* Logo */

.logo {
  margin: 0;
  padding: 45px 0 0 20px;
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;

  a {
    color: $color-light;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);

    &:hover {
      color: $color-medium;
    }
  }
}

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
  background: #808c97;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  position: relative;
  overflow: hidden;
  min-height: 800px;
  margin-right: 10px;
  padding: 40px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sidebar-left {
  color: $color-light;
  margin-left: -10px;

  a {
    color: $color-light;

    &:hover {
      color: $color-dark;
    }
  }
}

.sidebar-right {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  background: $color-light;
}


/* About */

.sidebar-about {
  order: -1;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-img {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  img {
    position: relative;
    transition: $transition;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.social-icons {
  justify-content: center;
  display: flex;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding: 0 10px;
    font-size: 0px;
    text-align: center;
    text-decoration: none;
  }

  a {
    display: block;
    transition: $transition;
    margin: 10px 1px;
    border-radius: 50%;
    background: $color-dark;
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: $color-light;

    &:hover {
      transform: scale(1.5);
    }
  }
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  position: absolute;
  top: 40px;
  opacity: 0;
  z-index: -1;
  transition: $transition;


  &.active {
    opacity: 100;
    z-index: 1;
    position: static;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}


/* Media */

@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    margin: 0;
    //padding: 0;
  }

  .sidebar-left {
    display: flex;
    flex-direction: column;
    //flex: 1 0 0;
    min-height: 300px;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;

      li {
        padding: 20px;
      }
    }
  }

  .sidebar-right {
    top: -150px;
    min-height: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }

  .sidebar {
    margin: 0;
  }

  .sidebar-tags {
    display: flex;
    flex: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      li {
        padding: 10px;
      }
    }
  }

  .sidebar-authors {
    flex: 100%;
  }

  .sidebar-about {
    flex: 100%;
    order: 3;
  }
}
